<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyMoveFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CopyMoveFile.Properties.Settings>
            <setting name="helpTxt" serializeAs="String">
                <value>
------------------------------------------------------------------------------------
		CopyMoveFile CmdLine Utility v[VERSION]
------------------------------------------------------------------------------------

Allows copying or moving files from the command line.

USAGE:  CopyMoveFile &lt;action&gt; /inPath &lt;path&gt; [/outPath &lt;path&gt;]

  action	Either 'copy' or 'move'.
  inPath	Path of the source file to copy/move.
  outPath	Path of the destination directory or file name (optionally
			renaming the file). If not specified, a file selection dialog will be
			displayed.

All paths are assumed to be in the current directory if a full path isn't specified.
------------------------------------------------------------------------------------
</value>
            </setting>
        </CopyMoveFile.Properties.Settings>
    </applicationSettings>
</configuration>